@import url("./root.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.container {
    max-width: 1320px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.ff-poppins {
    font-family: var(--ff-poppins);
}

.fs-36 {
    font-size: var(--fs-36);
}

.col-black {
    color: #000;
}

.col-white {
    color: #FFF !important;
}

.btn-col {
    color: #00000099;
    background: #0000001A;
}

.btn-col:focus {
    background: #000000 !important;
    color: #FFFFFF !important;
}

.btn-ml {
    max-width: 110px !important;
    height: 37px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: none !important;
}

.mw-48 {
    max-width: 48px !important;
}

.btn-rr {
    max-width: 200px !important;
    height: 37px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: none !important;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.fw-700 {
    font-weight: var(--fw-700);
}

.mw-pl {
    max-width: var(--mw-pl);
}

.mw-dmb {
    max-width: var(--mw-dmb);
}

.ml-25 {
    margin-left: 25px;
}

.fs-2nd {
    font-size: var(--fs-2nd) !important;
}

.fw-400 {
    font-weight: var(--fw-400);
}

.col-black6 {
    color: #000000b4 !important;
}

.mw-search {
    max-width: var(--mw-search);
}

.search {
    padding: 8px 24px !important;
    border-radius: 25.5px !important;
    border: 1px solid rgba(0, 0, 0, 0.20) !important;
    background: #FFF !important;
}

.fs-logo {
    font-size: var(--fs-sm) !important;
}

.mw-nav-photo {
    max-width: var(--mw-nav-photo);
}

body {
    background: #F8F8F8 !important;
}

input:focus {
    /* border: none !important; */
    outline: unset;
}

nav a:focus {
    color: #000 !important;
}

.gap-25 {
    gap: 25px !important;
}

.pb-18 {
    padding-bottom: 18px;
}

.pt-50 {
    padding-top: 50px;
}

nav {
    background: #FFF !important;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08) !important;
}

.card {
    padding: 27px 30px 38px 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.20) !important;
    background: #FFF !important;
    margin-bottom: 30px !important;
}

p {
    margin-bottom: 0 !important;
}

.pl-17 {
    padding-left: 17px;
}

.mw-891 {
    max-width: 891px !important;
}

input::placeholder {
    font-family: var(--ff-poppins);
    font-size: var(--fs-2nd);
    font-weight: var(--fw-400);
    text-align: left;
}

/* .s_icon:checked~input[id="search_icon"] {
    display: flex !important;
    width: 100% !important;
    transition: all 200ms linear !important;
} */

.pl-21 {
    padding-left: 21px;
}

.mw-315 {
    max-width: 315px !important;
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fs-12 {
    font-size: var(--fs-12);
}

.com-box {
    border: 1px solid #00000033;
    border-radius: 26px;
}

.com-body {
    border: none !important;
    max-width: 815px;
}

.btn-post {
    color: #1A9FFF;
    background: inherit;
    border: none !important;
}

input {
    border-radius: 25.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px !important;
}

.ph-box {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FAFAFA;
}

.mw-470 {
    max-width: 470px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.btn-follow {
    color: #1A9FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-2nd);
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: normal;
    border: none;
    background: inherit;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.mb_4 {
    margin-bottom: 4px;
}

.rotate {
    transform: rotate(90deg);
}

.pr-15 {
    padding-right: 25px;
}

.wh-space {
    white-space: nowrap !important;
}

.card-1 {
    max-width: 145px !important;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #00000033;
    padding: 20px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.min-vh-10 {
    min-height: 10vh;
}

@media (min-width:992px) {
    .ml-lg-0 {
        margin-left: 0 !important;
    }

    .card-1 {
        max-width: 329px !important;
        border: none;
        width: 100%;
        background: inherit;
        padding: 0 !important;
    }

    .pl-lg-17 {
        padding-left: 17px;
    }

    .pb-lg-16 {
        padding-bottom: 16px !important;
    }
}

@media (max-width:992px) {
    .small_screen {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        background-color: white;
        transition: all.3s linear;
        gap: 35px;
        z-index: 1;
        padding-left: 0 !important;
    }

    input[type="checkbox"]:checked~ul.small_screen {
        opacity: 1;
        pointer-events: all;
        left: 0%;
    }

    label[for="menu_icon"] {
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;
    }

    .end {
        /* width: 50%; */
        left: 50%;
        position: relative;
    }

    .h-5 {
        height: 5px !important;
    }

    label[for="menu_icon"]>span {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: black !important;
    }

    .z-index-2 {
        z-index: 2;
    }

    .pos-fix {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        background: white;
        box-shadow: 0px 8px 35px 0px #0000000D;
    }

    input[type="checkbox"]:checked+ul {
        background-color: yellow;
        display: block;
        left: 0;
    }
}